/* Adds icons to main menu items which were removed in Proton */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
#appMenu-protonMainView > .panel-subview-body > toolbarbutton > image{
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline: 0 8px !important;
}
#appMenu-new-tab-button2{ list-style-image: url("chrome://browser/skin/new-tab.svg") }
#appMenu-new-window-button2{ list-style-image: url("chrome://browser/skin/window.svg") }
#appMenu-new-private-window-button2{ list-style-image: url("chrome://browser/skin/privateBrowsing.svg") }
#appMenu-bookmarks-button{ list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg") }
#appMenu-history-button{ list-style-image: url("chrome://browser/skin/history.svg") }
#appMenu-downloads-button{ list-style-image: url("chrome://browser/skin/downloads/downloads.svg") }
#appMenu-passwords-button{ list-style-image: url("chrome://browser/skin/login.svg") }
#appMenu-extensions-themes-button{ list-style-image: url("chrome://mozapps/skin/extensions/extension.svg") }
#appMenu-print-button2{ list-style-image: url("chrome://global/skin/icons/print.svg") }
#appMenu-save-file-button2{ list-style-image: url("chrome://browser/skin/save.svg") }
#appMenu-find-button2{ list-style-image: url("chrome://global/skin/icons/search-glass.svg") }
#appMenu-settings-button{ list-style-image: url("chrome://global/skin/icons/settings.svg") }
#appMenu-more-button2{ list-style-image: url("chrome://browser/skin/developer.svg") }
#appMenu-help-button2{ list-style-image: url(chrome://global/skin/icons/info.svg) }
#appMenu-quit-button2{ list-style-image: url(chrome://browser/skin/quit.svg) }

/* Sound Tab - Hide Label */
  .tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]){
    display: none !important;}

#TabsToolbar 
{ margin-top: 1px !important;
  margin-bottom: 0px !important;
  margin-left: 28vw !important;}

/* Nav bar*/
#nav-bar 
{ background: transparent !important;
  margin-top: -33px !important;
  margin-bottom: 4px !important;
  margin-right: 72vw !important;
  height: 35px !important;
  padding-top: 0px !important;
  font-size:12px !important;
  min-width: 150px !important;}







#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image,
#context-navigation,
#context-sep-navigation {
  display:none !important;
}

:root{ --lwt-toolbarbutton-icon-fill: #ffffff !important;
--toolbarbutton-icon-fill: #ffffff !important;
--lwt-toolbarbutton-icon-fill-attention: #80e2ff !important; }

.titlebar-button {
    margin: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 5px !important;}

.titlebar-close:hover {
    background-color: black !important;}

#appMenu-fxa-separator {
  border-image: unset !important;}

:root {
    --arrowpanel-menuitem-padding: 5px !important;
}

menupopup > menuitem, menupopup > menu {
    padding-block: 0.3em !important;
}

/* show audio icon as a separate icon in compact mode */
.tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]){
    grid-template-areas: "a s";
}
.tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,.tab-icon-image{ opacity: 1 !important; }
.tab-icon-overlay {
    padding: 0 !important;
}
.tab-icon-overlay:hover {
    background: none !important;
}






#urlbar-container{ min-width: 50px !important;}


.tabbrowser-tab [selected="true"] {
   background-color: #414140 !important;}

.titlebar-spacer[type="pre-tabs"]{
  display: none !important;
}
#navigator-toolbox { --tabs-border-color: transparent !important; }

#urlbar-container {
margin-top: -3px !important;}

#PanelUI-button{ display:block }


#alltabs-button {display: none !important;}

#nav-bar-overflow-button {
display: none !important;}

#urlbar {
margin-top: 2px !important;
length: 33px !important;}





/* Firefox Context Menu */
#context-navigation,
#context-sep-navigation,
#context-stop,
#context-back,
#context-forward,
#context-reload,
#context-bookmarkpage {
diaplay: none !important;}






#tracking-protection-icon-container {
    display: none!important;}

/*Faviconize Tabs*/
.tab-label-container { display: none;}
.tabbrowser-tab:not([pinned]) {
max-width: 50px !important;
min-width: 40px !important;}
.close-icon {color: #ffffff !important;}

/* Hide The Sidebar Scrollbar*/
.hidevscroll-scrollbar {display:none !important;}



#PanelUI-menu-button {
list-style-image: url("firefox.png") !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
    padding: 2px !important;}
:root[uidensity="touch"] #PanelUI-menu-button > .toolbarbutton-badge-stack {
    padding: 5px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    width: 24px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
    margin-right: -3px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
    margin-left: -8px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
    margin-top: 4px !important;}

#identity-icon {
  display:none !important;}

 
/* ..... Tracking icon ..... */
#tracking-protection-icon-animatable-image {
  display:none !important;}
 
#tracking-protection-icon[state="loaded-tracking-content"] {
 display:none !important;}

image.autoplay-media-icon {
 display: none !important;}

/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
display: none !important;}

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
border-left: none !important;} 

/* Border between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
display: none !important;}

/* Bookmarks Sidebar */
#bookmarks-view,
#historyTree,
#history-panel,
#sidebar-header {
background-color: #303030 !important;
color: #ccc!important;
border: 0px !important;
border-right: 0px !important;}
#bookmarks-view {
background-color: #303030 !important;
border: 1px !important;
border-right: 0px !important;}

#sidebar-header {
display: none !important;
padding-top: 4px !important;
padding-bottom: 0px !important;
background-color: #303030 !important;}



#bookmarks-view {
searchbar-textbox: 
background-color: #303030 !important;}


#sidebar-search-container {
background-color: #303030 !important;
color: #4d4d4d !important;
padding-left: 20px !important;
padding-right: 20px !important;}



#sidebar-search-container #search-box {
-moz-appearance: none !important;
background-color: #232323 !important;
color: white !important;
min-height: 32px !important;}




#bookmarksMenuPopup, #bookmarksMenuPopup menupopup {
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
#bookmarksMenuPopup menu, #bookmarksMenuPopup menuitem {
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
#bookmarks-menu{
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
menupopup {
color: #e6e6e6 !important;
background: #2b2b2b !important;}
:root {
    --arrowpanel-background: #2b2b2b !important;
    --arrowpanel-color: #e6e6e6 !important;
    --panel-background: #2b2b2b !important;}


/*Bookmarks Text Color*/
treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-cell-text(hover),
treechildren::-moz-tree-cell-text(current){
color: #fff !important;
margin-left: 0px !important;}
.sidebar-placesTreechildren::-moz-tree-cell-text(container){
-moz-appearance: none !important;
color: #ccc !important;}

/* Bookmarks sidebar: change hover row color */
treechildren::-moz-tree-row{
background: transparent !important;
height: 20px !important;
border: none !important;
outline: none !important;}
treechildren::-moz-tree-row(hover){
background-color: #1c1c1c !important;}
treechildren::-moz-tree-row(selected){
border: none !important;}
treechildren::-moz-tree-separator{
-moz-appearance: none !important;
border: none !important;
border-bottom: solid 1px rgba(255,255,255,0.4) !important;
background: transparent !important;
min-height: 0px !important;
max-height: 0px !important;}
.sidebar-placesTreechildren::-moz-tree-image(title, container){ 
list-style-image: url('./dot2.png') !important;}

/* Bookmarks Indentation */
#bookmarks-view-children::-moz-tree-indentation {
width: 0px !important;}-indentation {
width: 0px !important;
padding-left: -5px !important;}
#bookmarks-view treechildren::-moz-tree-twisty,
#historyTree treechildren::-moz-tree-twisty {
list-style-image: none !important;
margin-left: -8px !important;}

.sidebar-placesTreechildren::-moz-tree-indentation{ width: 2px !important; }


/* Remove Sidebar border*/
toolbarbutton#alltabs-button {
-moz-binding: url("userChrome.xml");}
#sidebar-splitter{
border: none !important;}

/* Remove Forward Button */
#forward-button {display:none !important;}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -2px !important;
  margin-left: 10px !important;}

/*Hamburger Button Separator*/
#PanelUI-button {border-image-slice: 0 !important;}

/* URL Bar */
#pageActionButton,
#pocket-button-box,
ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels
{display: none !important;}


/* Hide blue stripe on active tab */
.tab-line {
  display: none !important;}


/*Read View Button*/
#reader-mode-button, #pageActionButton {
    display:none!important;}

/* Remove Tab Bar Bottom Line */
:root {--chrome-content-separator-color: none !important;}


.tab-label-container {display: none !important;}
.tab-content {padding: 6px !important;}


/* Show favicon for tabs without favicons */
.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
display: inline !important;
list-style-image: url('./dot.png') !important;}


/* Remove back button circle */
#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
background: transparent !important;
border: none !important; box-shadow: none !important; }

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
border: none !important;
border-radius: 2px !important; }








#tracking-protection-icon-container {
    display: none!important;}

/* --- Prevent enlargement */
#urlbar[breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout-extend] #urlbar-input-container {
    height: var(--urlbar-height) !important;
    /*padding: 0px !important;*/
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.urlbarView-row {
    padding: 0px 2px 0px 2px;
}
/* END Prevent enlargement --- */

#menu_unsortedBookmarks,
#BMB_unsortedBookmarks {
display: none !important;
}




--------------------------------------------------------------------------------------------

