/* Tab bar */
#navigator-toolbox {
    border: 0px !important;}
#TabsToolbar {
    min-height: 48px !important;
    margin-left: 410px !important;
    padding-left: 30px !important;
    margin-bottom: 22px !important;}
/* Nav bar*/
#nav-bar {
    width: 424px !important;
    min-height: 38px !important;
    background: transparent !important;
    margin-left: 6px !important;
    margin-right: 80vw !important;
    margin-top: -64px !important;}

#urlbar-container {max-width: 150px !important;}
/* Prevent Urlbar Overflow On Narrow Windows */
@media screen and (max-width: 300px){
#urlbar-container{
  flex-shrink: 1 !important;}}
#navigator-toolbox > #nav-bar{
  margin-right:calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));}

/* Simplifying interface */
#nav-bar {
  background: none !important;
  box-shadow: none !important;}
/* Hide Tab Border In Active Tab */
.tab-background{
  outline: none !important;
  box-shadow: none !important;}
.tab-background[selected]{
  background: #535353 !important}
/*Urlbar Selected No Border*/  
#urlbar[focused] .urlbar-background{
  outline:None !important} 
/* Top Bar Color */
#toolbar-menubar, #TabsToolbar, #navigator-toolbox {
  background-color: #3f3f3f !important;}
.urlbar-background {
  border-radius: 4px !important;
  background-color: #313131 !important;}
#urlbar-input {color: #fff !important;}
/* Nav Bar*/
#nav-bar {
  border-radius: 4px !important;
  background-color: #383838 !important;
  color: #363844 !important;}
  
  
#navigator-toolbox { --tabs-border-color: transparent !important; }
/* More Bottom Margin For Nav Bar */
#nav-bar {margin-bottom: 5px !important;}
/* Input Text Run-On */
#urlbar-input-container {
  width: 420px !important;
  margin-left: -2px !important;}
  
  
  
  

/* Standard folder -- in Sidebar, Library, Add/Edit Bookmark dialog */
:-moz-any(
#bookmarks-view, 
#editBMPanel_folderTree, 
#placesList) treechildren::-moz-tree-image(container), 
#editBMPanel_folderMenuList > .menulist-label-box > .menulist-icon,
#editBMPanel_folderMenuList menupopup menuitem img.menu-icon {
  list-style-image: url("folder.png") !important;}
/* Standard Folder - Open */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"]:not([query="true"], [tagContainer], [dayContainer])[open="true"],
:-moz-any(#bookmarks-view, #historyTree, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(title, container, open) {
  list-style-image: url("folderopen.png") !important;}

/* New Tab Icon */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
  content: url("dot.png") !important;}
/* Remove Tab Close Button - For Close Middle-Click */
.tab-close-button{ display: none !important;}

/* Fix customization view */
#customization-panelWrapper {display: none !important; }

/* Main Window Curved Corners */
main-window:has(#navigator-toolbox[style=""]) .browserStack>browser, :not([sizemode="fullscreen"]) .browserStack>browser{border-radius: 12px !important; margin: 12px !important}

/*Full-Screen Slide Animation*/
#navigator-toolbox { transition: all .5s !important; }
#navigator-toolbox:hover { transition: .5s ease-out 1s !important; }
#fullscreen-warning { display: none !important; }
/* Keep site icon visible on hover */
.tabbrowser-tab:hover .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay), 
/* for site icon with Compact density */
:root[uidensity="compact"] .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
  opacity: 1 !important; /* overrides full transparency with full opacity */}

/* Inactive Tabs Width */
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: 3.6em !important;
  min-width: 3.6em !important;}
/* Active Tab Width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: 10em !important;
  min-width: 10em !important;}
.tabbrowser-tab [selected="true"] {
  background-color: #2C2C2C !important;}
/* Removes Space Before Tabs */
.titlebar-spacer[type="pre-tabs"]{
  display: none !important;}

/*Unified Extensions Menu Compact */
#unified-extensions-view {
  --uei-icon-size: 24px;}
#unified-extensions-view {
 max-width: 300px !important;}
.unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon {
 padding: 4px !important;}
#unified-extensions-panel .unified-extensions-header {
 display: none !important;}
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator {
 display: none !important;}
#unified-extensions-manage-extensions {
 display: none !important;}
.unified-extensions-item-message-deck{
  display: none}


/* Find Bar on top of page */
.browserContainer > findbar {
 order:-1 !important; /*113*/
 border-top: none !important;
 border-bottom: 1px solid !important;}
.browserContainer > findbar {
 background-color: #393939 !important;
 border: 0px !important;}
.findbar-container > hbox > input {
 margin-top: 2px !important;
 height: 32px !important;
 background-color: #292929 !important;
 border-color: #292929 !important;}
.findbar-container {
 height: 34px !important;}
.findbar-closebutton.tabbable.close-icon {
 order: -1 !important;}

/*Remove Navigation Context Menu Icons*/
#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image,
#context-navigation,
#context-sep-navigation {
  display:none !important;}

/*Caption Button Island*/  
.titlebar-min > .toolbarbutton-icon{
  border-radius: .5rem 0 0 .5rem !important;
  margin-right: -13px !important;}
.titlebar-restore > .toolbarbutton-icon{
  border-radius: 0px !important;}   
.titlebar-max > .toolbarbutton-icon{
  border-radius: 0px !important;}
.titlebar-close > .toolbarbutton-icon{
  border-radius: 0 .5rem .5rem 0 !important;
  margin-left: -13px !important;
  margin-right: 2px !important;}
/* Close Button Recolored */
.titlebar-button.titlebar-close {
  color: #ff666d !important;}
 
 .toolbarbutton-icon {margin-top:
  4px !important;}
 .titlebar-min > .toolbarbutton-icon{
  height: 30px !important;
  width: 32px !important;}
 .titlebar-restore > .toolbarbutton-icon{
  height: 30px !important;
  width: 32px !important;}
 .titlebar-max > .toolbarbutton-icon{
  height: 30px !important;
  width: 32px !important;}
 .titlebar-close > .toolbarbutton-icon{
  height: 30px !important;
  width: 40px !important;}

/*Faviconize Tabs*/
.tabbrowser-tab:not([selected]) label {display: none !important;}
.tabbrowser-tab:not([pinned]) {
max-width: 50px !important;
min-width: 40px !important;}

/* Address Bar Buttons Removed */
#reader-mode-button, #pageActionButton, #nav-bar-overflow-button, 
#forward-button, #permissions-granted-icon, #permission-icon-container,
#star-button-box, #alltabs-button, #tracking-protection-icon-container,
#tracking-protection-icon-box, #identity-box, #identity-box #identity-icon,
#identity-box .extensionPage, #identity-icon-box {display: none !important;}
.tab-audio-button { display: none !important;}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow {order: -1;
  margin-right: -2px !important;
  margin-left: 10px !important;}
/* Panel Button Image */
#PanelUI-menu-button {
list-style-image: url("Firefox.png") !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {padding: 2px !important;}
:root[uidensity="touch"] #PanelUI-menu-button > .toolbarbutton-badge-stack {padding: 5px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {width: 24px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {margin-right: -8px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {margin-left: -2px !important;}
#PanelUI-menu-button > .toolbarbutton-badge-stack {margin-top: 0px !important;}

/* Remove Sidebar Header & Splitter*/
#sidebar-header {display: none !important;}
#sidebar-splitter {display: none !important;}
/* Remove Default Blue/Cyan Glow */
.sidebar-panel input:focus,
#search-box:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;}
/* Remove Sidebar Search Bar Outline */
#search-box,
input {
  border: none !important;}
/* Hide Arrows In Bookmarks Sidebar */
.sidebar-placesTree treechildren::-moz-tree-twisty {
  padding-inline-end: 0 !important;
  width: 0 !important;}
/* Bookmark Item Indention */
.sidebar-placesTreechildren::-moz-tree-indentation {width: 8px !important;}
/*Remove Dotted Outline Selecting Bookmarks*/
treechildren::-moz-tree-row(current, focus) {
 outline-color: transparent !important;}

:root {
--arrowpanel-menuitem-padding: 5px !important;}

/* Adds icons to main menu items which were removed in Proton */
#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
#appMenu-protonMainView > .panel-subview-body > toolbarbutton > image,
#appMenu-mainView > .panel-subview-body > .subviewbutton > .toolbarbutton-icon{
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline: 0 8px !important;}
#appMenu-new-tab-button2{ list-style-image: url("chrome://browser/skin/new-tab.svg") }
#appMenu-new-window-button2{ list-style-image: url("chrome://browser/skin/window.svg") }
#appMenu-new-private-window-button2{ list-style-image: url("chrome://browser/skin/privateBrowsing.svg") }
#appMenu-bookmarks-button{ list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg") }
#appMenu-history-button{ list-style-image: url("chrome://browser/skin/history.svg") }
#appMenu-downloads-button{ list-style-image: url("chrome://browser/skin/downloads/downloads.svg") }
#appMenu-passwords-button{ list-style-image: url("chrome://browser/skin/login.svg") }
#appMenu-extensions-themes-button{ list-style-image: url("chrome://mozapps/skin/extensions/extension.svg") }
#appMenu-print-button2{ list-style-image: url("chrome://global/skin/icons/print.svg") }
#appMenu-save-file-button2{ list-style-image: url("chrome://browser/skin/save.svg") }
#appMenu-find-button2{ list-style-image: url("chrome://global/skin/icons/search-glass.svg") }
#appMenu-settings-button{ list-style-image: url("chrome://global/skin/icons/settings.svg") }
#appMenu-more-button2{ list-style-image: url("chrome://global/skin/icons/developer.svg") }
#appMenu-report-broken-site-button{ list-style-image: url("chrome://global/skin/icons/warning.svg") }
#appMenu-help-button2{ list-style-image: url("chrome://global/skin/icons/info.svg") }
#appMenu-quit-button2{ list-style-image: url("chrome://devtools/skin/images/search-clear.svg") }
#appMenu-translate-button{ list-style-image: url("chrome://browser/skin/translations.svg") }
#appMenu-zoom-controls::before{ background-image: url("chrome://browser/skin/fullscreen.svg") }
/* Use account-button icon for signed in sync item */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before{ background-image: var(--avatar-image-url) }
/* Add somewhat hacky separator to zoom controls so it looks consistent */
#appMenu-protonMainView > .panel-subview-body::after,
#appMenu-mainView > .panel-subview-body::after{content: ""; display: flex; border-bottom: 1px solid var(--panel-separator-color); margin: var(--panel-separator-margin);}

/* Address Bar Buttons Retooled */
#forward-button {display: none !important;}
#back-button {fill: #ff666d !important;}
#back-button:inactive {fill: #ff666d !important;}
#sidebar-button {margin-left: 2px !important;}
#sidebar-button {fill: #cb8bd0 !important;}
#reload-button {fill: #eba563 !important;}
#stop-reload-button {fill: #eba563 !important;}
#stop-button {fill: #ff666d !important;}
#home-button {fill: #8fe3af !important;}
#stop-reload-button .toolbarbutton-animatable-image {fill: #eba563 !important;}
#stop-button .toolbarbutton-animatable-image {fill: #ff666d !important;}
#stop-reload-button .toolbarbutton-animatable-image {fill: #eba563 !important;}
#stop-button .toolbarbutton-animatable-image {fill: #00c2ff !important;}
#downloads-button,
#downloads-button[indicator="true"]:not([attention="success"]) #downloads-indicator-icon{
 display: -moz-box !important;
 visibility: visible !important;
 fill: #8fe3af !important;}
#downloads-button[attention="success"] #downloads-indicator-icon {fill: #76d0eb !important;}
#unified-extensions-button .toolbarbutton-icon {fill: #76d0eb !important;}
#sidebar-button {list-style-image: url("Star.png") !important;}
#home-button {list-style-image: url("Home.png") !important;}
#downloads-button {padding-top: 3px !important;}
 
/* Styles For Urlbar */
#urlbar[breakout-extend]{
#urlbar-input {font-size: 23.5px !important;}
#urlbar-input-container, .urlbar-input-container {height: 50px !important;}
#urlbar-background {border-radius: 4px !important;}
#urlbar-input-container, .urlbar-input-container {
 & > :is(box, image){
 height: 28px !important;
 margin-block: calc((50px - 28px) / 4) !important;}}
position: fixed !important;
z-index: 999999 !important;
bottom: auto !important;
top: 20vh !important;
left: 18vw !important;
right: 18vw !important;
width: 64vw !important;}

/* Dark Filter When Urlbar Is [Open] */
#urlbar-container::before {
  content: '';
  box-shadow: 0 0 0 100vw var(--my-box-shadow-color, transparent);
  transition: box-shadow 250ms ease-out;
  pointer-events: none;
  z-index: 6 !important;}
#urlbar-container:has(#urlbar[open])::before {
 -moz-appearance: none !important;
  --my-box-shadow-color: rgba(0, 0, 0, 0.50);}

/* Remove Gradient Line App Menu */
.PanelUI-subView {
  & toolbarseparator.proton-zap::before {
    border-image: none !important;}

